@keyframes leaves {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.45);
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input[type="radio"] {
    cursor: pointer;
    accent-color: #e7c29a;
  }

  .home_create-phrase {
    display: flex;
    flex-direction: column;
    width: 100%;

    .home_textarea {
      width: auto;
      min-height: 80px;
      padding: 12px;
      resize: none;

      &:focus {
        outline-color: #d2ae88;
      }
    }

    .home_label {
      margin: 0 16px 0 8px;
      cursor: pointer;
    }

    .home_priority {
      margin-top: 20px;
    }

    .home_button {
      margin-top: 32px;
    }
  }

  .home_audio {
    height: 100px;
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    position: relative;

    &:nth-child(3) {
      &.is-rec {
        animation: leaves2 0.4s ease-in-out infinite alternate;
        -webkit-animation: leaves2 0.4s ease-in-out infinite alternate;
      }
    }

    .home_button-audio {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: red;
      z-index: 2;
    }

    .home_audio-rec {
      width: 44px;
      height: 44px;
      position: absolute;
      left: calc(50% - 22.9px);
      top: calc(25% + 2.7px);
      border-radius: 50%;
      border: solid 0.6px #c3c3c3;

      &.is-rec {
        animation: leaves 0.3s ease-in-out infinite alternate;
        -webkit-animation: leaves 0.3s ease-in-out infinite alternate;
      }
    }
  }
}
